

// 메인페이지 헤더 영역
.main-header {
    background-image: url('/images/trip2.png');
    flex: 1;
    height: 400px;
    position: relative;

    .main-header__text {
        position: absolute;
        left: 39%;
        top: 45%;
        font-size: 1.6rem;
        color: white;
    }
}

// 메인페이지 메인 부분
.main-main {
    width: 1200px;
    margin: 0 auto;

}


// 메인 페이지 푸터
.main-footer {
    height: 300px;
    border-top: 1px solid;
    margin-top: 200px;
}