.swiper-wrapper {
    transition-timing-function: linear !important;
    /* 선형 이동 */
}

/* .swiper-section 상대적 위치 설정 */
.swiper-section {
    position: relative;
}

/* Swiper 화살표 기본 스타일 */
.swiper-button-prev,
.swiper-button-next {
    // background-color: rgba(0, 0, 0, 0.5); /* 배경색 */
    // border-radius: 50%; /* 원형 모양 */
    color: #333;
    /* 화살표 색상 */
    padding: 10px;
    /* 여백 */
}

/* 화살표를 감싸는 navigation-wrapper 스타일 */
.navigation-wrapper {
    position: absolute;
    /* 절대위치로 지정 */
    top: 50%;
    /* 수직 중앙 */
    left: 50%;
    /* 수평 중앙 */
    transform: translate(-50%, -50%);
    /* 정확히 중앙에 배치 */
    width: 105%;
    /* 원하는 넓이 지정 */
    display: flex;
    /* 화살표들을 가로로 배치 */
    justify-content: space-between;
    /* 양쪽 끝으로 배치 */
    z-index: 10;
    /* 다른 요소들 위에 표시되도록 */
}

/* Swiper 화살표 위치 */
.swiper-button-prev {
    left: 0;
    /* 왼쪽 화살표 */
}

.swiper-button-next {
    right: 0;
    /* 오른쪽 화살표 */
}



// 메인페이지 헤더 영역
.main-header {
    background-image: url('/images/trip2.png');
    flex: 1;
    height: 400px;
    position: relative;

    .main-header__text {
        position: absolute;
        left: 39%;
        top: 45%;
        font-size: 1.6rem;
        color: white;
    }
}

// 메인페이지 메인 부분
.main-main {
    width: 1200px;
    margin: 0 auto;
    height: 1200px;


    .swiper-section {
        .mySwiper {
            height: 520px;
        }

        margin-top: 80px;

        .board-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 20px;
            border-bottom: 1px solid #777;
            margin-bottom: 20px;

            strong {
                font-size: 1.7rem;
                font-weight: 800;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 32px;
            }


        }

        /* 개별 플래너 항목 */
        .main-planner-item {

            margin: 10px;

            border-radius: 20px;
            // border: 1px solid #888;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            transition: transform 0.3s ease;
            height: 500px;


            /* border와 내부 영역에 그라데이션을 적용 */
            /* 썸네일 이미지 스타일 */
            .main-planner-thumbnail img {
                width: 100%;
                height: 360px;
                border-radius: 10px;
                padding: 5px;
                margin-right: 20px;
            }

            .main-planner-info {
                padding: 10px 15px 15px 15px;

                /* 플래너 제목 스타일 */
                .main-planner-title {
                    font-size: 1.5rem;
                    color: #333;
                    margin: 0;
                    font-weight: bold;
                    margin-bottom: 10px;

                }

                /* 플래너 작성자 정보 스타일 */
                .main-planner-username {
                    font-size: 1rem;
                    color: #777;
                    margin: 5px 0;
                }

                /* 플래너 기간 스타일 */
                .main-planner-duration {
                    font-size: 1rem;
                    color: #777;
                    margin: 5px 0;
                }

                /* 작성일 스타일 */
                .main-planner-created-at {
                    font-size: 0.9rem;
                    color: #555;
                }

            }
        }

        /* 호버시 카드 효과 */
        .main-planner-item:hover {
            transform: translateY(-15px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }




    }

}


// 메인 페이지 푸터
.main-footer {
    height: 300px;
    border: 1px solid;
}