// 메인페이지 전체
.main-wrapper {
    overflow-x: hidden;

}

// 메인페이지 헤더 영역
.main-header {
    background-image: url('/images/trip2.png');
    flex: 1;
    height: 400px;
    position: relative;

    .main-header__text {
        position: absolute;
        left: 39%;
        top: 45%;
        font-size: 1.6rem;
        color: white;
    }
}

// 메인페이지 컨탠트
.main-content {
    position: relative;

    .main-content-area {
        // max-width: 1200px;
        margin: 0 auto;


    }


}



// 메인 페이지 푸터
.main-footer {

    border-top: 1px solid;

}