.board {

    .main-section {
        width: auto;
        height: 500px;
        position: relative;
        border-radius: 0;
        margin-top: 0;
        background-image: url("/images/modal.png");
        background-size: cover;

        p,
        button {
            left: 30%;
        }

        .main-section__text {
            top: 24%;
        }

        .main-section__subtext {
            top: 40%;
        }

        .main-header__button {
            bottom: 15%;
        }

    }
}

/* 전체 게시판 감싸는 스타일 */
.board-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);

    // 게시판 메뉴 텝
    .board-tap {
        ul {

            display: flex;
            text-align: center;
            width: 1200px;
            margin: 0 auto;
            background: #20356f;
            // margin-top: -37px;

            li {
                flex: 1 1 30%;
                position: relative;

                &.on span {
                    color: white;
                    font-weight: 700;
                }

                span {
                    display: block;
                    height: 75px;
                    line-height: 75px;
                    color: #6a82c4;
                    font-size: 20px;
                    letter-spacing: -0.8px;
                    position: relative;
                }

                span:hover {
                    color: #fff;
                    font-weight: 700;
                    cursor: pointer;
                }

                &.on span::after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 7px;
                    position: absolute;
                    left: 50%;
                    bottom: -7px;
                    transform: translateX(-50%);
                    background: url(./image/board_tab.png);
                }
            }

            // 내 여행코스 탭
            .board-myCourse {
                span::before {
                    content: '';
                    display: inline-block;
                    width: 30px;
                    margin-right: 10px;
                    vertical-align: -7px;
                    height: 31px;
                    background: url(./image/icon_board_tab.png);
                }
            }

            // 다른 사용자 여행코스 탭
            .board-userCourse {
                span::before {
                    content: '';
                    display: inline-block;
                    width: 30px;
                    margin-right: 10px;
                    vertical-align: -7px;
                    height: 31px;
                    background: url(./image/icon_board_tab.png);
                    background-position: 0 -155px;
                }


            }

            .board-userCourse::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 21px;
                position: absolute;
                left: 0;
                top: 26px;
                background: #6a82c4;
            }

        }
    }

    // 게시판 최상단 (제목과 지역선택)
    .board-top {
        height: 80px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;    

        // 게시판 제목
        .board-title {
            font-weight: bold;
            font-size: 28px;
            line-height: 80px;
            letter-spacing: -1.5px;
            color: #333;
            display: inline-block;
            border-left: 20px;
        }

        // 지역필터
        .selectBox {
            position: relative;
            display: inline-block;
            cursor: pointer;
            height: 40px;
            margin-top: 22px;

            /* 부모 요소에 focus-within을 적용하여 자식이 포커스를 받으면 스타일 변경 */
            &:focus-within::after {
                background-position: 0 -6px;
            }
        }

        .select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 0 10px;
            font-size: 1rem;
            line-height: 20px;
            border: none;
            background-color: transparent;
            appearance: none;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &::-ms-expand {
                display: none;
            }
        }

        .selectBox::after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 6px;
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            background: url(./image/btn_area_choice.png);
            background-position: 0 0;

        }
    }




    // 플래너 전체 
    .planner-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 50px;

        /* 개별 플래너 항목 */
        .planner-item {
            margin: 0 0 35px 20px;
            border-radius: 20px 20px 0 0;
            cursor: pointer;
            transition: transform 0.3s ease;

            // 플래너 이미지 섹션
            .planner-image-section {
                position: relative;
                width: 100%;

                /* 썸네일 이미지 스타일 */
                .planner-thumbnail img {
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                    border-radius: 5px;
                }

                // 유저 이미지
                .planner-profile {
                    position: absolute;
                    right: 15px;
                    bottom: 15px;
                    border-radius: 100%;
                    overflow: hidden;
                    width: 35px;
                    height: 35px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }

                }

            }

            // 플래너 정보
            .planner-info {
                padding-top: 15px;

                /* 플래너 기간 스타일 */
                .planner-duration {
                    display: inline-block;
                    width: 65px;
                    height: 25px;
                    line-height: 25px;
                    color: #fff;
                    background: #567ff2;
                    font-size: 15px;
                    letter-spacing: -0.6px;
                    text-align: center;
                }

                /* 플래너 제목 스타일 */
                .planner-title {
                    display: block;
                    margin: 13px 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: -0.6px;
                    color: #333;
                }

                // 플래너 지역
                .planner-area {
                    font-size: 16px;
                    line-height: 18px;
                    letter-spacing: -0.5px;
                    font-weight: 300;
                    color: #666;
                }

                /* 작성일 스타일 */
                .planner-created-at {
                    margin: 8px 0 10px;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 18px;
                    color: #666;
                }

                .planner-like-count {
                    display: flex;
                    align-items: center;

                    .like-icon {
                        // line-height: 31px;
                    }

                    .like-number {
                        padding: 2px 0 0 5px;
                        font-weight: bold;
                    }
                }

            }
        }

        /* 호버시 카드 효과 */
        .planner-item:hover {
            transform: translateY(-5px);
        }

        // 데이터가 없거나 오류 시
        .loading,
        .error,
        .noData,
        .noCourse {
            font-size: 2rem;
            position: absolute;
            left: 39%;
            height: 550px;
            line-height: 550px;
            display: block;
            font-weight: bold;
        }


    }

}







// 페이지네이션 
.board-pagination {
    display: flex;
    justify-content: center;
    margin: 0 50px 50px 10px;
    width: 100%;
    position: relative;

    button {
        padding: 10px 15px;
        width: 120px;
        height: 50px;
        font-weight: bold;
        border: 1px solid #333;
        border-radius: 30px;
        /* background-color: #f8f8f8; */
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }

    .pagination-info {
        position: absolute;
        right: 5%;
        font-weight: bold;
        height: 100%;
        line-height: 50px;

    }

}


.board-pagination button:hover {
    background-color: #76c7db;
    color: white;
    border: 0;
}

.board-pagination button.active {
    background-color: #76c7db;
    color: white;
    border-color: #76c7db;
}