.join-page {
    overflow-y: hidden;
    .join-page-header {
        margin-bottom: 23px;
        width: 100%;
        height: 100px;
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.3);
        z-index: 100;

        .join-page-header-content {
            width: 1500px;
            margin: 0 auto;

            img {
                width: 200px;
                height: 90px;
            }
        }
    }

}


.join-content {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    border-radius: 25px;


    // 회원가입 페이지 왼쪽 사진
    .join-content__leftImg {

        width: 50%;
        height: 800px;
        border-radius: 25px 0 0 25px;
        object-fit: cover;

    }

    // 회원가입 폼 컨테이너
    .join-form-container {
        width: 50%;
        background-color: #f9f9f9;
        padding: 0 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 0 25px 25px 0;

        // 회원가입 폼
        .join-form {
            height: 800px;
            display: flex;
            flex-direction: column;
            width: 100%;
            // padding: 32px 0;
            overflow-y: auto;

            // 유효성 검사 메시지 (성공)
            .validation-success {
                color: #4CAF50;
            }

            // 유효성 검사 메시지 (실패)
            .validation-error {
                color: #ff4d4d;
            }

            // 유효성 검사 메시지
            .validation-message {
                font-size: 1.1rem;

                padding: 10px;
            }

            h1 {
                text-align: center;
                font-size: 24px;
                color: #333;
                margin-bottom: 20px;
            }

            input::placeholder {
                color: rgba(55, 56, 60, 0.61);
                font-weight: 100;
            }

            .join-profile-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                position: relative;
            }

            /* 프로필 이미지 드롭다운 버튼 */
            #dropdown-button {
                position: absolute;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border: 1px solid white;
                color: white;
                border-radius: 50%;
                background-color: #696969;
                right: 39%;
                top: 57%;
            }

            .dropdown-menu {
                position: absolute;
                top: 48px;
                display: block;
                right: 17%;
                background: white;
                border: 1px solid #ddd;
                border-radius: 5px;
                width: 114px;
                min-width: 0;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                transition: max-height 0.3s ease, opacity 0.3s ease;
            }

            .dropdown-item {
                padding: 10px;
                text-align: left;
                color: black;
                border: none;
                background: none;
                cursor: pointer;
            }

            .dropdown-item:hover {
                background-color: #1e88e5;
                color: white;
            }

            .image-preview-container {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 10px;
            }

            .circle-preview {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            /* 아이디 영역 */
            .join-id-content {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input {
                    padding: 10px;
                    border-radius: 8px;
                    border: 1px solid #ddd;
                    font-size: 16px;
                    width: 100%;
                    box-sizing: border-box;
                }

                input:focus {
                    outline: none;
                    border-color: #4CAF50;
                }

            }

            /* 이름 영역 */
            .join-username-content {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input {
                    padding: 10px;
                    border-radius: 8px;
                    border: 1px solid #ddd;
                    font-size: 16px;
                    width: 100%;
                    box-sizing: border-box;
                }

                input:focus {
                    outline: none;
                    border-color: #4CAF50;
                }

            }

            /* 이메일 영역 */
            .join-email-content {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input {
                    padding: 10px;
                    border-radius: 8px;
                    border: 1px solid #ddd;
                    font-size: 16px;
                    width: calc(100% - 150px);
                    box-sizing: border-box;
                }

                input:focus {
                    outline: none;
                    border-color: #4CAF50;
                }

                .emailbutton {
                    width: 140px;
                    background-color: #1e88e5;
                    color: white;
                    padding: 8px 15px;
                    border: none;
                    border-radius: 5px;
                    font-size: 14px;
                    margin-left: 10px;
                    cursor: pointer;
                }

                .emailbutton:hover {
                    background-color: #1565c0;
                }

                .emailbutton:disabled {
                    color: rgba(55, 56, 60, 0.16);
                    background-color: rgb(244, 244, 245);
                    border: none;
                    cursor: default;
                }
            }

            // 이메일 코드 입력 창
            .auth-codebox {
                width: 100%;
                background-color: #fafafa;
                border-radius: 8px;
                padding: 20px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 20px;

                .auth-code-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    position: relative;

                    .auth-code {
                        padding: 10px;
                        border-radius: 8px;
                        border: 1px solid #ddd;
                        width: 194px;
                        font-size: 16px;
                        box-sizing: border-box;
                    }

                    #timer {
                        font-size: 16px;
                        color: #555;
                    }

                    .verifybutton {
                        background-color: #4CAF50;
                        position: absolute;
                        right: 2px;
                        width: 120px;
                        color: white;
                        padding: 8px 15px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 14px;
                        transition: background-color 0.3s;
                    }

                    .verifybutton:hover {
                        background-color: #45a049;
                    }


                }

                .validation-message,
                .validation-error {
                    margin-top: 10px;
                    padding: 0;
                }
            }


            /* 비밀번호 영역 */
            .join-password-content {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input {
                    padding: 10px;
                    border-radius: 8px;
                    border: 1px solid #ddd;
                    font-size: 16px;
                    width: 100%;
                    box-sizing: border-box;
                }

                #password {
                    margin-bottom: 10px;
                }

                input:focus {
                    outline: none;
                    border-color: #4CAF50;
                }
            }

            /* 생년월일 영역 */
            .join-birth-content {
                margin-bottom: 20px;

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input {
                    padding: 10px;
                    border-radius: 8px;
                    border: 1px solid #ddd;
                    font-size: 16px;
                    width: 100%;
                    box-sizing: border-box;
                }

                input:focus {
                    outline: none;
                    border-color: #4CAF50;
                }

            }

            .join-btn {
                margin-top: 20px;

                /* 버튼 활성화 시 */
                button.active {
                    background-color: #1e88e5;
                    color: white;
                    cursor: pointer;
                }

                /* 버튼 비활성화 시 */
                button.inactive {
                    color: rgba(55, 56, 60, 0.16);
                    background-color: rgb(244, 244, 245);
                    border: none;
                    cursor: default;
                }

            }

            /* 버튼 공통 스타일 */
            button {
                color: rgba(55, 56, 60, 0.16);
                background-color: rgb(244, 244, 245);
                padding: 12px;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s;
                width: 100%;
            }

            button:hover {
                background-color: #1e88e5;
                color: white;
            }
        }
    }



}