
@font-face {
    font-family: 'Jalnan';
    src: url('/public/font/Jalnan2TTF.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Jalnan', sans-serif !important;
	/* font-size: 1rem; */
}

.ACTIVE {
    background-color:  #1e90ff;
    color: white;

}